@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
	background-color: #0e0e0f;
	background-image: #0e0e0f;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gradient-bg-services {
	background-color: #0e0e0f;
	background-image: #0e0e0f;
}

.gradient-bg-transactions {
	background-color: #0e0e0f;
	background-image: radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
		radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
	background: #232329;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
	background-color: #a099ff;
	background-image: linear-gradient(
		to right top,
		#43b5f4,
		#53baf4,
		#61bff4,
		#6ec4f5,
		#7ac9f5,
		#82cdf6,
		#8ad0f6,
		#92d4f7,
		#99d7f9,
		#9fdbfb,
		#a6defd,
		#ace2ff
	);
}

.text-gradient {
	background-color: #fff;
	background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%),
		radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
